
body {
  background-color: lightseagreen;
}

.divAroundLetter {
  height: 50px;
  width: 50px;
  
}

.letter {
    height: 50px;
    width: 50px;
    background-color: lightblue;
    font-size: 30px;
    text-align: center;
}

#guessLetters {
    display: flex;
}

#snowman {
  max-width: 500px;
  max-height: 500px;
}