
body {
  background-color: #B22222;
}

#snowmanTitle {
  font-size: 60px;
  color: white;
  font-family: Mountains of Christmas;
}

#picLetters {
  text-align: center;
}

#guessLetters {
  text-align: center;
  margin: auto;
  justify-content: center;
  margin-bottom: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#reset {
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  background-color: #3CB371;
  border: none;
  color: white;
  padding: 10px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 12px;
  border: 3px solid white;
  margin-top: 20px; 
}

#reset:focus {
  outline: none;
}

.divAroundLetter {
  height: 50px;
  width: 50px;
}

.letter {
    height: 50px;
    width: 50px;
    background-color: white;
    font-size: 30px;
    text-align: center;
}

#guessLetters {
    display: flex;
}

#snowmanImage {
  max-width: 500px;
  max-height: 500px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.button {
  background-color: #3CB371;
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  border: 3px solid white;
  margin: 5px;
}

.button:focus {
  outline: none;
}

.button:hover {
  background-color: indianred;
  color: black;
}

.button[disabled] {
  background: grey;
}

#instructionsModal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	/*This puts our modal in front of the body (which has a default z-index setting of `0`*/
	overflow: auto;
  /*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
  display: none;
}

#modal-textbox {
	background-color: lightblue;
	height: 300px;
	width: 480px;
  border-radius: 2px;
  margin: 150px auto;
	/*This will set the margins for the top and the bottom to 150px (or larger). The right and left will automatically set themselves (and keep the box centered horizontally).*/
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  /*This will give the box some depth.*/
  padding: 2%;
  line-height: 160%;
  font-family: Georgia, 'Times New Roman', Times, serif, 'Times New Roman', Times, serif, Helvetica, sans-serif;
}

#modal-footer {
  text-align: center;
  
}

p {
  padding-top: 20px;
}

.modal-buttons {
  padding: 8px 15px;
	background-color: #677996;
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
	font-family: 'Georgia';
  cursor: pointer;
  font-size: 15px;
  text-decoration: none;
}


#scoreGuess {
  margin: auto;
  display: flex;
  margin: auto;
  justify-content: center;
  margin-right: 60px;
}

#instructions {
margin-left: 60px;
}


#winModal, #loseModal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	/*This puts our modal in front of the body (which has a default z-index setting of `0`*/
	overflow: auto;
  /*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
  display: none;
}

#winModalTextbox, #loseModalTextbox {
	background-color: lightgreen;
	height: 300px;
	width: 350px;
  border-radius: 2px;
  margin: 150px auto;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  padding: 2%;
  line-height: 370%;
  font-family: Georgia, 'Times New Roman', Times, serif, 'Times New Roman', Times, serif, Helvetica, sans-serif;
}

#button-container {
  justify-content: center;
  width: 60%;
  margin: auto;
}
